body {
  margin: 2em;
  color: #51545E;
  font-family: 'Josefin Sans', sans-serif;
}

#app-name {
  text-align: center;
  font-size: 5em;
  font-family: 'Poiret One', cursive;
  font-weight: 900;
  text-transform: uppercase;
}

#tagline {
  text-align: center;
  font-family: 'Poiret One', cursive;
  padding-bottom: 2em;
}

#task-input {
  border: 1px solid #c9dcf9;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  padding: .5em 1em;
  margin: .5em 1em;
  font-weight: normal;
  display: inline-block;
}

#task-input:focus {
  outline: none;
}

.drop-down {
  border: 1px solid #c9dcf9;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  font-weight: normal;
  display: inline-block;
}

.drop-down:focus {
  outline: none;
}

.main-btn {
  color: #fff;
  background: #c9dcf9;
  border: 1px solid #c9dcf9;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  font-weight: 900;
  padding: .5em 1em;
  margin: .5em 1em;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
  min-width: 4em;
}

.main-btn:hover {
  cursor: pointer;
}

table {
  border: 1px solid #c9dcf9;
  padding: 1em;
  min-width: 30em;
}

#list-name {
  font-family: 'Poiret One', cursive;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  padding-bottom: .75em;
}

th.column-name {
  font-family: 'Poiret One', cursive;
  font-size: 1.4em;
  font-weight: 900;
  text-align: left;
  padding-bottom: .75em;
  padding-left: .75em;
}

td {
  padding-left: .75em;
  padding-right: .75em;
  font-size: 1.25em;
}

td.column-border {
  border-right: 1px dashed #c9dcf9;
}

td.ital {
  font-style: italic;
  font-size: 1em;
}

.fa-times {
  color: #FC9D9A;
  -webkit-text-stroke: 1px white;
}

.fa-times:hover {
  cursor: pointer;
}

.fa-square-o {
  color: #c9dcf9;
}

.fa-square-o:hover {
  cursor: pointer;
}

.fa-check-square {
  color: #c9dcf9;
}

.fa-check-square:hover {
  cursor: pointer;
}


/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poiret One', cursive;
*/
