<center>
  <table>
    <tr>
      <thead><th colspan="4" id="list-name">Past to-dos:</th></thead>
    </tr>
    <tr>
      <th colspan="1" id="column-name">Description</th>
      <th colspan="1" id="column-name">Priority</th>
      <th colspan="1" id="column-name">Created</th>
    </tr>
    <tr ng-repeat="task in tasks" ng-show="expiredTask(task)">
      <td id="column-border">{{ task.text }}</td>
      <td id="column-border" class="ital">{{ priorityText(task) }}</td>
      <td class="ital">{{ taskAge(task) }}</td>
    </tr>
  </table>
  <br><br>
  <a ui-sref="home" class="main-btn">back to current tasks</a>
</center>
