<div ng-controller="HomeCtrl">

  <!-- push a new task onto the array -->
  <center>
    <form ng-submit="addTask()">
      <input class="task-input" ng-model="newTask.text" placeholder="Add a new task" />
      <select class="drop-down" ng-model="newTask.priority" placeholder="Set priority level" />
        <option value="3">low</option>
        <option value="2">medium</option>
        <option value="1">high</option>
      </select>
      <button type="submit" class="ghost-button">add</button>
    </form>

  <br><br><br>

  <table class="raleway">
    <tr>
      <thead><th colspan="4" id="list-name">Current to-dos:</th></thead>
    </tr>
    <tr>
      <th colspan="1" id="column-name">Description</th>
      <th colspan="1" id="column-name">Priority</th>
      <th colspan="1" id="column-name">Created</th>
    </tr>
    <tr ng-repeat="task in tasks | orderBy: 'priority'" ng-hide="expiredTask(task)">
      <td id="column-border">{{ task.text }}</td>
      <td id="column-border" class="grey-ital">{{ priorityText(task) }}</td>
      <td id="column-border" class="grey-ital">{{ taskAge(task) }}</td>
      <td><i ng-class="!task.completed? 'fa fa-circle-o' : 'fa fa-check-circle'" ng-click="toggle(task)"></i></td>
      <td><button ng-click="tasks.$remove(task)" class="ghost-button-small" id="red-pc">remove</button></td>
    </tr>
  </table>

  <br><br>

  <a ui-sref="history" class="ghost-button">Task History</a>
  </center>

</div>
