<div ng-controller="HomeCtrl">

  <!-- push a new task onto the array -->
  <center>
    <form ng-submit="addTask()">
      <input class="task-input" ng-model="newTask.text" placeholder="Add a new task" />
      <button type="submit" class="ghost-button">add</button>
    </form>

  <br><br><br>

  <table class="raleway">
    <tr>
      <th>Current to-dos:</th>
    </tr>
    <tr ng-repeat="task in tasks" ng-hide="expiredTask(task)">
      <td>{{ task.text }}</td>
      <td><small>added {{ taskAge(task) }}</small></td>
      <td><button ng-click="tasks.$remove(task)" class="ghost-button-small">remove</button></td>
    </tr>
  </table>

  <br><br><br><br>

  <a ui-sref="history" class="ghost-button">Task History</a>
  </center>

  <!-- <ul>
    <li ng-repeat="task in tasks"> -->
      <!-- edit a task -->
      <!-- <input class="task-input-small" ng-model="task.text" ng-change="tasks.$save(task)" /> -->
      <!-- delete a task -->
      <!-- <button ng-click="tasks.$remove(task)" class="ghost-button-small">remove</button>
    </li>
  </ul> -->

</div>
